<!-- The tasks in the GET POST requests need to be changed to groups. Implement a check on edit so it doesn't fuck up the backend db (db? more like dp.)-->

<!-- PLACE JAVASCRIPT IN app/assets/javascript/documents.js -->
<script type="text/javascript" src="assets/javascripts/jquery-2.1.0.js"></script>
<script type="text/javascript">

</script>

<!-- Create Agenda Modal -->
<div class="modal fade" id="newAgendaModal" tabindex="-1" role="dialog" aria-labelledby="newAgendaModalLabel" aria-hidden="true" style: 'width: 75%'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Create Agenda</h1>
      </div>
      <div class="modal-body">
        <%= render "newAgenda" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="createAgenda">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Create Note Modal -->
<div class="modal fade" id="newNoteModal" tabindex="-1" role="dialog" aria-labelledby="newNoteModalLabel" aria-hidden="true" style: 'width: 75%'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Create Document</h1>
      </div>
      <div class="modal-body">
        <%= render "newNote" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="createNote">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteDocumentModal" tabindex="-1" role="dialog" aria-labelledby="deleteDocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Document</h4>
      </div>
      <div class="modal-body">
        <%= render "delete" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="hideDeleteModal()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- View Modal -->
<div class="modal fade" id="viewDocumentModal" tabindex="-1" role="dialog" aria-labelledby="viewDocumentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">View Document</h4>
      </div>
      <div class="modal-body">
        <%= render 'view' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="showEditModal()" href="#editGroupModal" data-refresh="true" data-toggle='modal'>Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Agenda Modal -->
<div class="modal fade" id="editAgendaModal" tabindex="-1" role="dialog" aria-labelledby="editAgendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Agenda Details</h4>
      </div>
      <div class="modal-body">
        <%= render 'editAgenda' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="showDocumentModalNoID()" data-refresh="true" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="showDocumentModalNoID()" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Note Modal -->
<div class="modal fade" id="editNoteModal" tabindex="-1" role="dialog" aria-labelledby="editNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Note Details</h4>
      </div>
      <div class="modal-body">
        <%= render 'editNote' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="showDocumentModalNoID()" data-refresh="true" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="showDocumentModalNoID()" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1 style='margin-left: 15%; margin-right: auto;'>Documents</h1>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Initial Topic</th>
      <th>Type</th>
    </tr>
  </thead>
  <!-- POPULATE AGENDAS -->
  <% for agenda in @agendas['agendas'] %>
    <tr>
      <td><a onClick="showViewDocumentModal(<%= agenda['agendaID'] %>, 'agenda')" href = '#viewDocumentModal' data-refresh = 'true' data-toggle='modal'><%= agenda['title'] %></a></td>
      <td><%= agenda['content'][0]['topic'] %></td>
      <td>Agenda</td>
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%= agenda['agendaID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
    </tr>
  <% end %>
  <!-- POPULATE NOTES -->
  <% for note in @notes['notes'] %>
    <tr>
      <td><a onClick="showViewDocumentModal(<%= note['noteID'] %>, 'note')" href = '#viewDocumentModal' data-refresh = 'true' data-toggle='modal'><%= note['title'] %></a></td>
      <td></td>
      <td>Note</td>
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%= note['noteID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td colspan='2' style='cursor: pointer; text-align: center' href='#newAgendaModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New Agenda</span></td>
      <td colspan='2' style='cursor: pointer; text-align: center' href='#newNoteModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New Note</span></td>
    </tr>
  </tfoot>
</table>