<!-- The tasks in the GET POST requests need to be changed to groups. Implement a check on edit so it doesn't fuck up the backend db (db? more like dp.)-->

<script>
//load the javascript file
<%= render "documentsJS.js.erb" %>
</script>

<!-- PLACE JAVASCRIPT IN app/assets/javascript/documents.js -->
<script type="text/javascript">
</script>

<!-- Create Agenda Modal -->
<div class="modal fade" id="newAgendaModal" tabindex="-1" role="dialog" aria-labelledby="newAgendaModalLabel" aria-hidden="true" style: 'width: 75%'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Create Agenda</h1>
      </div>
      <div class="modal-body">
        <%= render "newAgenda" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="submitCreateModal('agenda')">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Create Note Modal -->
<div class="modal fade" id="newNoteModal" tabindex="-1" role="dialog" aria-labelledby="newNoteModalLabel" aria-hidden="true" style: 'width: 75%'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Create Note</h1>
      </div>
      <div class="modal-body">
        <%= render "newNote" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitCreateModal('note')">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Delete Note Modal -->
<div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog" aria-labelledby="deleteNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Note</h4>
      </div>
      <div class="modal-body">
        <%= render "deleteNote" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="hideDeleteModal('note')">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Delete Agenda Modal -->
<div class="modal fade" id="deleteAgendaModal" tabindex="-1" role="dialog" aria-labelledby="deleteAgendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Agenda</h4>
      </div>
      <div class="modal-body">
        <%= render "deleteAgenda" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="hideDeleteModal('agenda')">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- View Note Modal -->
<div class="modal fade" id="viewNoteModal" tabindex="-1" role="dialog" aria-labelledby="viewNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">View Note</h4>
      </div>
      <div class="modal-body">
        <%= render 'viewNote' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="showEditModalNoID('note')" href="#editNoteModal" data-refresh="true" data-toggle='modal'>Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- View Agenda Modal -->
<div class="modal fade" id="viewAgendaModal" tabindex="-1" role="dialog" aria-labelledby="viewAgendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">View Agenda</h4>
      </div>
      <div class="modal-body">
        <%= render 'viewAgenda' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="showEditModalNoID('agenda')" href="#editAgendaModal" data-refresh="true" data-toggle='modal'>Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Agenda Modal -->
<div class="modal fade" id="editAgendaModal" tabindex="-1" role="dialog" aria-labelledby="editAgendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Agenda Details</h4>
      </div>
      <div class="modal-body">
        <%= render 'editAgenda' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="cancelEdit('agenda')" data-refresh="true" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="showViewModalNoID('agenda')" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Note Modal -->
<div class="modal fade" id="editNoteModal" tabindex="-1" role="dialog" aria-labelledby="editNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Note Details</h4>
      </div>
      <div class="modal-body">
        <%= render 'editNote' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="cancelEdit('note')" data-refresh="true" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="showViewModalNoID('note')" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1 style='margin-left: 15%; margin-right: auto;'>Documents</h1>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Initial Topic</th>
      <th>Type</th>
    </tr>
  </thead>

  <!-- POPULATE AGENDAS -->
  <% for agenda in @agendasParsed %>
    <tr>
      <td onClick="showViewModal(<%= @agendasParsed.index(agenda)%>, 'agenda')" data-refresh='true' data-toggle='modal'><%= agenda['title'] %></td>
      <td onClick="showViewModal(<%= @agendasParsed.index(agenda)%>, 'agenda')" data-refresh='true' data-toggle='modal'><%= agenda['content']['1']['title'] %></td>
      <td onClick="showViewModal(<%= @agendasParsed.index(agenda)%>, 'agenda')" data-refresh='true' data-toggle='modal'>Agenda</td>
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%=@agendasParsed.index(agenda)%>,'agenda')"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showEditModal(<%=@agendasParsed.index(agenda)%>,'agenda')"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-pencil'></span></td>
    </tr>
    </tr>
  <% end %>
  <!-- POPULATE NOTES -->
  <% for note in @notesParsed %>
    <tr>
      <td onClick="showViewModal(<%= @notesParsed.index(note) %>, 'note')" data-refresh = 'true' data-toggle='modal'><%= note['title'] %></td>
      <td onClick="showViewModal(<%= @notesParsed.index(note) %>, 'note')" data-refresh = 'true' data-toggle='modal'><%= note['content'] %></td>
      <td onClick="showViewModal(<%= @notesParsed.index(note) %>, 'note')" data-refresh = 'true' data-toggle='modal'>Note</td>
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%= @notesParsed.index(note) %>,'note')"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showEditModal(<%=@notesParsed.index(note)%>,'note')"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-pencil'></span></td>
    </tr>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td colspan='2' style='cursor: pointer; text-align: center' href='#newAgendaModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New Agenda</span></td>
      <td colspan='2' style='cursor: pointer; text-align: center' href='#newNoteModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New Note</span></td>
    </tr>
  </tfoot>
</table>
