<!DOCTYPE html>
<html>
<head>
  <title>MeetingScheduler | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if IE]>
	<script type="text/javascript">
	window.location = "https://www.google.com/intl/en/chrome/browser/";
	</script>
  <![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	    	<%= link_to image_tag("genericLogo.png", alt: "Logo"), login_path, id:"logo" %>
	      <nav>
	        <ul class="nav pull-right">
	          <li><%= link_to "About", about_path %></li>
	          <li><%= link_to yield(:loginText), login_path %></li>
	        </ul>
	      </nav>
	    </div>
	  </div>
	</header>
	<div class="container">
	  <%= yield %>
	</div>
</body>
</html>
