<!-- PLACE JAVASCRIPT IN app/assets/javascripts/meetings.js -->
<!-- IMPORTANT: Until we abstract the ruby out of our javascript ignore the above note and place javascript in app/views/meetings/_meetingsJS.js.erb instead -->

<script>
//load the javascript file
<%= render "meetingsJS.js.erb" %>
</script>


<!-- BEGIN MODAL SECTION
	=================================================

	Note on the modals: Most of the html for each modal is bootstrap magic that shouldn't need to be touched. If a new modal needs to be created most of it can be copy/pasted except for the id and onclick properties.
-->

<!-- Create Modal -->
<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Meeting</h4>
      </div>
      <div class="modal-body">
        <%= render "new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary" onclick="submitCreateModal()">Submit</button> -->
        <button type="button" class="btn btn-primary" onclick="submitCreateModal()">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteMeetingModal" tabindex="-1" role="dialog" aria-labelledby="deleteMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Meeting</h4>
      </div>
      <div class="modal-body">
        <%= render "delete" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="hideDeleteModal()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- View Modal -->
<div class="modal fade" id="viewMeetingModal" tabindex="-1" role="dialog" aria-labelledby="viewMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">View Meeting</h4>
      </div>
      <div class="modal-body">
        <%= render "view" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="showEditModalNoID()" href="#editMeetingModal" data-refresh="true" data-toggle='modal'>Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Modal -->
<div class="modal fade" id="editMeetingModal" tabindex="-1" role="dialog" aria-labelledby="editMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit </h4>
      </div>
      <div class="modal-body">
        <%= render "edit" %>
      </div>
      <div class="modal-footer">
        <button id="cancelEditButton" type="button" class="btn btn-default" onclick="cancelEdit()" data-refresh="true" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="showViewMeetingModalNoID()" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ===================================================
	END MODAL SECTION -->

<h1 class='pageTitle' style='margin-left: 15%; margin-right: auto;'>Meetings</h1>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
  <tr>
    <td colspan='5' style='cursor: pointer; text-align: center' href='#newMeetingModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
  </tr>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Location</th>
      <th></th>
	  <th></th>
    </tr>
  </thead>
  <!-- The create new meeting button at the bottom of the table. Notice the colspan='5' which tells the button to take up the 5 columns (date, title, location, delete, edit) -->


<!-- This is an example of how ruby code can be embedded in our files to provide support for logic such as loops or if statements. This loop generates the table of meetings by creating an individual row for each pass of the loop.
-->
  <% for meeting in @meetingsParsed %>
    <tr>
<!-- The onclick that is repeated on these three td tags is used to emulate click on the row itself. We can't just place a single onclick on the row because we wouldn't be able to click on the edit or delete icons without also counting as clicking on the row to bring up the view modal.
-->
      <td onclick="showViewMeetingModal(<%=@meetingsParsed.index(meeting)%>)" data-refresh="true" data-toggle="modal"><%= Time.at(meeting['datetime']) %></td>
      <td onclick="showViewMeetingModal(<%=@meetingsParsed.index(meeting)%>)" data-refresh="true" data-toggle="modal"><%= meeting['title'] %></td>
      <td onclick="showViewMeetingModal(<%=@meetingsParsed.index(meeting)%>)" data-refresh="true" data-toggle="modal"><%= meeting['location'] %></td>
<!-- The delete icon -->
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%=@meetingsParsed.index(meeting)%>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
<!-- The edit icon -->
      <td colspan='1' style='cursor: pointer; text-align: center' onclick="showEditModal(<%=@meetingsParsed.index(meeting)%>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-pencil'></span></td>
    </tr>
  <% end %>


</table>
