<script>
<%= render "meetingsJS.js.erb" %>
</script>

<div class="modal fade" id="MeetingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div  id="header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form name="input" id="body">
        </form>
      </div>
      <div id="footer" class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<h1 class='pageTitle' style='margin-left: 15%; margin-right: auto;'>Meetings</h1>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
  <tr>
    <td colspan='5' style='cursor: pointer; text-align: center' onclick="showNewMeetingModal('<%=@allUsers%>')" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
  </tr>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Location</th>
      <th></th>
	  <th></th>
    </tr>
  </thead>
 
  <% for meeting in @meetingsParsed %>
    <tr>
      <td onclick="showViewMeetingModal(<%=@meetingsParsed.index(meeting)%>)" data-refresh="true" data-toggle="modal"><%= Time.at(meeting['datetime']) %></td>
      <td onclick="showViewMeetingModal(<%=@meetingsParsed.index(meeting)%>)" data-refresh="true" data-toggle="modal"><%= meeting['title'] %></td>
      <td onclick="showViewMeetingModal(<%=@meetingsParsed.index(meeting)%>)" data-refresh="true" data-toggle="modal"><%= meeting['location'] %></td>

      <td style="width: 7%">
          <span style='font-size: 1.3em; color: white; cursor: pointer;' onclick='showDeleteMeetingModal(<%= meeting["meetingID"] %>)' class='glyphicon glyphicon-trash'></span>
        </td>
      <td style="width: 7%">
          <span style='font-size: 1.3em; color: white; cursor: pointer;' onclick="showEditMeetingModal(<%= meeting["meetingID"] %>, '<%= @allUsers %>')" class='glyphicon glyphicon-pencil' ></span>
        </td>
    </tr>
  <% end %>
</table>
