<script type="text/javascript">
<%= render "preferencesJS.js.erb" %>
</script>

<div class='prefpage'>
	<br />
	<span style="font-size:20px;margin:5px;">Home Page Options:</span>
	<br />
	<table id="settingsTable" style="font-size:12px;width:100%;margin:5px;">
		<tr>
			<td style="width:24%;">
				<span>Number of Tasks Shown:</span> 
			</td>
			<td style="width:24%;">
				<input type="text" placeholder=<%= @curTask.to_i %> max="25" size="2" id="taskID" name="tasks"><br>
			</td>
			<td style="width:4%;">
			</td>
			<td style="width:24%;">
				<span>Number of Projects Shown:</span> 
			</td>
			<td style="width:24%;">
				<input type="text" placeholder=<%= @curProject.to_i %>  max="25" size="2" name="projects" id="projectID"><br>
			</td>
		</tr>
		<tr>
			<td style="width:24%;">
				<span>Number of Meetings Shown:</span> 
			</td>
			<td style="width:24%;">
				<input type="text" placeholder=<%= @curMeeting.to_i %>  max="25" size="2" name="meetings" id="meetingID"><br>
			</td>
			<td style="width:4%;">
			</td>
			<td style="width:24%;">
				<span>Number of Groups Shown:</span> 
			</td>
			<td style="width:24%;">
				<input type="text" placeholder=<%= @curGroup.to_i %>  max="25" size="2" name="groups" id="groupID"><br>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<button type="button" onclick="saveSettings()" style="margin-left:10px;margin-bottom:10px;">Save</button>
	<br />
</div>
