<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<!-- working on profile search
<script>
alert("blah");
$(window).load(function() { 
alert("test");
    jQuery('#searchProfileForm').bind('submit', function(event){
        event.preventDefault();
/*
        $.ajax({
            type: 'GET',
            url: 'http://csse371-04.csse.rose-hulman.edu/User/'+document.getElementByName("profileSearch").value,
            success:function(data){
                alert("data:"+data);
            }
        });
*/
alert("here");
        return true;
    });
</script>

-->

<div style="padding:0 15px;"><!-- offset row negative padding -->

<div class="row">
<div class="col-md-6">

<p>
  <span style="font-size:28px;">
    <strong>
      <input alt="" src="http://dogvacay.com/img/default_profile.jpg" style="width: 150px; height: 150px; border-width: 5px; border-style: solid; margin: 5px 15px; float: left;" type="image" />
      <%= @userInfo['name'] %>
    </strong>
  </span>
</p>
<p>


<button onclick="submitEdit()">Testing</button>

<button onclick="showEditModal()"> Edit </button>

<!--part of profile search
<form id="searchProfileForm">
	<input name="profileSearch" type="search" placeholder="Search Profiles"/>
<input type="submit">
</form>
-->

<script>

function submitEdit(){


    $.ajax({
            type: "PUT",
            url: "http://csse371-04.csse.rose-hulman.edu/User/",
            data: JSON.stringify({"userID":"5454", "field":"name", "value":"test"}),
      		success:function(data){
        	}
    });

}


function saveEdit(){

var userInfoArray = <%= raw @userInfo.to_json %>;
var userID = "<%= @userID %>";

var all = document.getElementsByTagName("*");

for (var i=0, max=all.length; i < max; i++) {
	if(all[i].id.slice(-1) == 'E'){

		var editId = all[i].id;
		var editIdLength = editId.length;
		var normalId = editId.substr(0, editIdLength - 1);
		var editValue = all[i].value;

		if(editValue != userInfoArray[normalId]){
			alert("{\'userID\':\'"+userID+"\',\'field\':\'"+normalId+"\',\'value\':\'"+editValue+"\'}");
		}
	}
}


}
</script>



<p>
  <span style="font-size:28px;">
    <strong>
      <span style="font-size:18px;"> 
			Company: <%= @userInfo['company'] %>
	</span>
    </strong>
  </span>
</p>
<p>
  <span style="font-size:28px;">
    <strong>
      <span style="font-size:18px;">
		 	Job Title: <%= @userInfo['title'] %>
	</span>
    </strong>
  </span>
</p>
<p>
  <strong>
      <span style="font-size:18px;">
			Location: <%= @userInfo['location'] %>
	</span>
  </strong>
</p>
<p>
  <strong>
      <span style="font-size:14px;">
			Email: <%= @userInfo['email'] %>
	</span>
  </strong>
</p>
<p>
<p>
  <strong>
      <span style="font-size:14px;">
			Phone: <%= @userInfo['phone'] %>
	</span>
  </strong>
</p>
<br/>
<p>
  <span style="font-size:28px;"><strong><span style="font-size:18px;">Projects: <a href='#'><%= @userProjects['projects'][0]['projectTitle'] %></a>, <a href='#'><%= @userProjects['projects'][1]['projectTitle'] %></a></span></strong></span>
<br/>
  <span style="font-size:28px;"><strong><span style="font-size:18px;">Groups: <a href='#'><%= @userGroups['groups'][0]['groupTitle'] %><a>, <a href='#'><%= @userGroups['groups'][1]['groupTitle'] %>, <a href='#'><%= @userGroups['groups'][2]['groupTitle'] %><a></a></span></strong></span>

<!-- Modal Stuff -->

<script type = 'text/javascript'>


  function showEditModal(){
    $('#editProfileModal').modal('hide');
    $('#editProfileModal').on('hidden.bs.modal', function() {
      $(this).removeData('bs.modal');
    });

	document.getElementById("nameE").value = "<%= @userInfo['name'] %>";
	document.getElementById("companyE").value = "<%= @userInfo['company'] %>";
	document.getElementById("titleE").value = "<%= @userInfo['title'] %>";
	document.getElementById("locationE").value = "<%= @userInfo['location'] %>";
	document.getElementById("emailE").value = "<%= @userInfo['email'] %>";
	document.getElementById("phoneE").value = "<%= @userInfo['phone'] %>";
	
    $('#editProfileModal').modal('show');
  }

</script>

<!-- Edit Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit </h4>
      </div>
      <div class="modal-body">
        <%= render "edit" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveEdit()" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--------- /end modal stuff ---->

</div> <!-- end left col -->
<div class="col-md-6">
<%= render 'schedule' %>
</div> <!-- end right col -->
</div> <!-- end row div -->
</div> <!-- end offset div -->
