<!DOCTYPE html>
<html>
<head>
  <title>WebApp</title>
<script src="/assets/twitter/bootstrap" type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- Start Nav-Bar -->
 <%= render "panes/top_bar" %>
<!-- End Nav-Bar -->

 <ul id='ticker01'>
  <li><span>10/10/2007</span>the first thing</li>
  <li><span>10.10.2009</span>the second thing</li>
  <li><span>10.10.1000</span>the last thing</li>
</ul>
<script type="text/javascript">
  $(document).ready(function (){
    $('ul#ticker01').liScroll();
  });
</script>

<br>
<br>
<div class="row-fluid">
  <div id="leftbar" class="span2" style="position: fixed; left:0px; text-align: center; top:40px; bottom:40px;">
    <%= render "panes/meeting_bar" %>
  </div>
  <div class="span8 offset2">
    <%= yield %>
  </div>
  <div id="rightbar" class="span2" style="position: fixed; right:0px; text-align: center; top:40px; bottom:40px;">
    <%= render "panes/task_bar" %>
  </div>
</div>

<%= render "panes/bottom_bar" %>


<script>

$(document).ready(function () {
       var left_width = $('#leftbar').width() -10;
       $('#leftbar').stop().animate({left: - left_width  },500); 

       var right_width = $('#rightbar').width() -10;
       $('#rightbar').stop().animate({right: - right_width  },500);     
});    


$('#leftbar').hover(function () {
     $(this).stop().animate({left:"0px"},500);     
   },function () {
       var width = $(this).width() -10;
       $(this).stop().animate({left: - width  },500);     
});

$('#rightbar').hover(function () {
     $(this).stop().animate({right:"0px"},500);     
   },function () {
       var width = $(this).width() -10;
       $(this).stop().animate({right: - width  },500);     
});
</script>

</body>
</html>


