<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= csrf_meta_tags %>
  <!-- STYLESHEETS -->
  <%= stylesheet_link_tag "slate", :media => "all" %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
</head>
<body onload="areCookiesEnabled()">
  <%= yield %>

  <%= javascript_include_tag "slate" %>
  <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>