<div class="panel-group" id="accordion">
  <!-- TASK PANEL -->
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <input type='button' class="btn btn-danger panel-title" value='Tasks'>
    </a>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
          <thead>
            <tr >
              <th>Due</th>
              <th>Task Name</th>
              <th>Project</th>
              <th></th>
            </tr>
          </thead>
          <% for task in @tasks['tasks'] %>
          <tr>
            <td><%= task['deadline'] %></td>
            <td><a onClick="showViewModal(<%= task['taskID'] %>)" data-refresh="true" data-toggle='modal'><%= task['title'] %></a></td>
            <td><%= task['project'] %></td>
            <td colspan='1' style='cursor: pointer; text-align: center' onClick="showDeleteModal(<%= task['taskID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
          </tr>
          <% end %>
          <tr>
            <td colspan='4' style='cursor: pointer; text-align: center' href='#newTaskModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- PROJECTS PANEL -->
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
      <input type='button' class="btn btn-warning panel-title" value='Projects'>
    </a>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
          <thead>
            <tr >
              <th>Name</th>
              <th>Group</th>
              <th></th>
            </tr>
          </thead>
          <% for project in @projects['projects'] %>
          <tr>
            <td><a onClick="showViewModal(<%= project['projectID'] %>)" data-refresh="true" data-toggle='modal'><%= project['name'] %></a></td>
            <td><%= project['group'] %></td>
            <td colspan='1' style='cursor: pointer; text-align: center' onClick="showDeleteModal(<%= project['projectID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
          </tr>
          <% end %>
          <tr>
            <td colspan='4' style='cursor: pointer; text-align: center' href='#newProjectModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- MEETINGS PANEL -->
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <input type='button' class="btn btn-success panel-title" value='Meetings'>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Where</th>
              <th></th>
            </tr>
          </thead>
          <% for meeting in @meetings['meetings'] %>
          <tr>
            <td><%= meeting['datetime'] %></td>
            <td><a onClick="showViewMeetingModal(<%= meeting['meetingID'] %>)" href = '#viewMeetingModal' data-refresh = 'true' data-toggle='modal'><%= meeting['title'] %></a></td>
            <td><%= meeting['location'] %></td>
            <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%= meeting['meetingID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
          </tr>
          <% end %>
          <tfoot>
          <tr>
            <td colspan='4' style='cursor: pointer; text-align: center' href='#newMeetingModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
          </tr></tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- GROUPS PANEL -->
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <input type='button' class="btn btn-info panel-title" value='Groups'>
    </a>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
          <thead>
            <tr>
              <th>Group ID</th>
              <th>Group Name</th>
              <th>Group Type</th>
            </tr>
          </thead>
          <% for group in @groups['groups'] %>
          <tr>
            <td><%= group['groupID'] %></td>
            <td><a onClick="showViewGroupModal(<%= group['groupID'] %>)" href = '#viewGroupModal' data-refresh = 'true' data-toggle='modal'><%= group['groupTitle'] %></a></td>
            <td><%= group['groupType'] %></td>
            <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%= group['groupID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
          </tr>
          <% end %>

          <tr>
            <td colspan='4' style='cursor: pointer; text-align: center' href='#newGroupModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>