

<!-- The tasks in the GET POST requests need to be changed to groups. Implement a check on edit so it doesn't fuck up the backend db (db? more like dp.)-->


<style type="text/css">
  header > h1 { display: inline-block; }
  .modal-backdrop { z-index: 999;}
  #newGroup { cursor: pointer; text-align: center; }
  .modal-body{
    width:100%;
  }
</style>
<script type = 'text/javascript'>
  var GroupArray;
  var deleteID;
  var Members = JSON.parse('{"members":[{"userID":"1","displayName":"Santa Claus"},{"userID":"2","displayName":"WasARebel"},{"userID":"3","displayName":"KemoSabe"},{"userID":"4","displayName":"CaptainKirk"},{"userID":"5","displayName":"Spock"},{"userID":"6","displayName":"Josh"},{"userID":"7","displayName":"Paul"},{"userID":"8","displayName":"David"},{"userID":"9","displayName":"William"},{"userID":"10","displayName":"Maxwell"},{"userID":"11","displayName":"Alpha"},{"userID":"12","displayName":"Dharmin"}]}');

  function hideGroupModal(){
    $('#viewGroupModal').modal('hide');
  }

  function showEditModal(){
    $('#editGroupModal').modal('hide');
    $('#editGroupModal').on('hidden.bs.modal', function() {
      $(this).removeData('bs.modal');
    });
    // TODO: Put this back in when it works
    // $.ajax({
    //         type: 'GET',
    //         url: 'http://csse371-04.csse.rose-hulman.edu/Groups/' + ID,
    //   success:function(data){
    //     if(data.groupID != null){
    //       GroupArray = JSON.parse(data);
    //     }
    //   }
    // });

    //document.getElementById("IDE").value = GroupArray["groupID"];
    document.getElementById("titleE").value = GroupArray["groupTitle"];
    document.getElementById("typeE").value = GroupArray["groupType"];

    populateSelect(Members["members"], "displayName", "userID", GroupArray["members"], "membersE")

    $('#editGroupModal').modal('show');
    $('#viewGroupModal').modal('hide');
  } 

  function showDeleteModal(ID){
    deleteID = ID;
    $('#deleteGroupModal').modal('show');
  }

  function hideDeleteModal(){
    // TODO: Put this back in when it works and change it to the delete
    // $.ajax({
    //         type: 'GET',
    //         url: 'http://csse371-04.csse.rose-hulman.edu/Tasks/' + deletelID,
    //   success:function(data){
    //     if(data.taskID != null){
    //       GroupArray = JSON.parse(data);
    //     }
    //   }
    // });
    alert("The group matching id " + deleteID + " was deleted");

    $('#deleteGroupModal').modal('hide');
    // TODO: Put back in
    //location.reload(true);
  }

  function showGroupModalNoID(){
    $('#viewGroupModal').modal('hide');
    $('#viewGroupModal').on('hidden.bs.modal', function() {
      $(this).removeData('bs.modal');
    });

    // Edit info
    //GroupArray["groupID"] = document.getElementById("IDE").value;
    GroupArray["groupTitle"] = document.getElementById("titleE").value;
    GroupArray["groupType"] = document.getElementById("typeE").value;

    GroupArray["members"] = returnSelectValuesAsJSON("members", "displayName", "userID", "membersE")

    // TODO: Put this back in when it works and change it to update info then add a pull
    // $.ajax({
    //         type: '',
    //         url: 'http://csse371-04.csse.rose-hulman.edu/Tasks/' + ID,
    //   success:function(data){
    //     if(data.taskID != null){
    //       GroupArray = JSON.parse(data);
    //     }
    //   }
    // });

    // Update view info
    //document.getElementById("IDV").innerHTML = GroupArray["groupID"];
    document.getElementById("titleV").innerHTML = GroupArray["groupTitle"];
    document.getElementById("typeV").innerHTML = GroupArray["groupType"];

    populateTableRows(GroupArray["members"], "displayName", "TableMembersV");

    $('#viewGroupModal').modal('show');
    $('#editGroupModal').modal('hide');
  }

  function showViewGroupModal(ID){
    $('#viewGroupModal').modal('hide');
    $('#viewGroupModal').on('hidden.bs.modal', function() {
      $(this).removeData('bs.modal');
    });

    // TODO: Put this back in when it works
    // $.ajax({
    //         type: 'GET',
    //         url: 'http://csse371-04.csse.rose-hulman.edu/Tasks/' + ID,
    //   success:function(data){
    //     if(data.taskID != null){
    //       GroupArray = JSON.parse(data);
    //     }
    //   }
    // });

    if (ID == 1){
      GroupArray = JSON.parse('{"groupID":"1","groupTitle":"NWA","groupType":"hardcore gangsta", "members":[{"userID":"1","displayName":"Santa Claus"},{"userID":"2","displayName":"WasARebel"},{"userID":"3","displayName":"KemoSabe"},{"userID":"4","displayName":"CaptainKirk"},{"userID":"5","displayName":"Spock"}]}');
    }else if (ID == 2){
      GroupArray = JSON.parse('{"groupID":"2","groupTitle":"Group? More like poop!","groupType":"lolz", "members":[{"userID":"1","displayName":"Santa Claus"},{"userID":"2","displayName":"WasARebel"},{"userID":"3","displayName":"KemoSabe"},{"userID":"4","displayName":"CaptainKirk"},{"userID":"5","displayName":"Spock"}]}');
    }else if (ID == 3){
      GroupArray = JSON.parse('{"groupID":"3","groupTitle":"Purgatory","groupType":"limbo", "members":[{"userID":"1","displayName":"Santa Claus"},{"userID":"2","displayName":"WasARebel"},{"userID":"3","displayName":"KemoSabe"},{"userID":"4","displayName":"CaptainKirk"},{"userID":"5","displayName":"Spock"}]}');
    }else if (ID == 4){
      GroupArray = JSON.parse('{"groupID":"4","groupTitle":"Murdah Squad","groupType":"serial killer", "members":[{"userID":"1","displayName":"Santa Claus"},{"userID":"2","displayName":"WasARebel"},{"userID":"3","displayName":"KemoSabe"},{"userID":"4","displayName":"CaptainKirk"},{"userID":"5","displayName":"Spock"}]}')
    }

    //document.getElementById("IDV").innerHTML = GroupArray["groupID"];
    document.getElementById("titleV").innerHTML = GroupArray["groupTitle"];
    document.getElementById("typeV").innerHTML = GroupArray["groupType"];

    populateTableRows(GroupArray["members"], "displayName", "TableMembersV");

    $('#viewGroupModal').modal('show');
    $('#editGroupModal').modal('hide');
  }

  function validateGroup(){
    var title = document.forms["input"]["title"].value;
    var type = document.forms["input"]["type"].value;
    var desc = document.forms["input"]["desc"].value;
    var groupMembers = getMembers('grpMemSlct');
    alert("The following fields were added to the db: Title: " + title + ", Type: " + type + ", Description: " + desc + ", GroupMembers: " + groupMembers);
  }

  function getMembers(id){
    var newMembers = [];
    $( '#' + id + ' :selected' ).each( function( i, selected ) {
      newMembers[i] = $( selected ).text();
    });
    return newMembers;
  }

  function populateTableRows(JSONArray, JSONDisplayColumn, tableID){
    var table = document.getElementById(tableID);
    if(table.rows.length != 0){
      for(var i = table.rows.length - 1; i > -1; i--){
        table.deleteRow(i);
      }
    }

    for (var k in JSONArray){
      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);

      var cell = row.insertCell(0);

      cell.innerHTML = JSONArray[k][JSONDisplayColumn];
    }
  }

  function populateSelect(JSONArray, JSONDisplayColumn, JSONValueColumn, JSONSelectValues, selectID){
    var select = document.getElementById(selectID);

    if(select.options.length != 0){
      for(var i = select.options - 1; i > -1; i--){
        select.remove(i);
      }
    }

    for (var k in JSONArray){
      var el = document.createElement("option");
      el.textContent = JSONArray[k][JSONDisplayColumn];
      el.value = JSONArray[k][JSONValueColumn];
      select.appendChild(el);
    }

    for (var i in JSONSelectValues){
      for (var j in select.options){
        if(JSONSelectValues[i][JSONValueColumn] == select.options[j].value){
          select.options[j].selected = true;
          break;
        }
      }
    }
  }

  // TODO: This will probably be usless once connected to the back end
  function returnSelectValuesAsJSON(JSONtype, JSONDisplayColumn, JSONValueColumn, selectID){
    var select = document.getElementById(selectID);
    var newJSONString = "{" + "\"" + JSONtype + "\"" + ":[";
    
    for (var j in select.options){
      if(select.options[j].selected){
        newJSONString = newJSONString + "{" + "\"" + JSONValueColumn + "\":\"" + select.options[j].value + "\",\"" + JSONDisplayColumn + "\":\"" + select.options[j].textContent + "\"},";
      }
    }

    newJSONString = newJSONString.substring(0, newJSONString.length - 1);
    newJSONString = newJSONString + "]}";
    var newJSON = JSON.parse(newJSONString);
    return newJSON[JSONtype];
  }
</script>

<!-- Create Modal -->
<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModalLabel" aria-hidden="true" style: 'width: 75%'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Create Group</h1>
      </div>
      <div class="modal-body">
        <%= render "new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="createGroup">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Delete Modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Group</h4>
      </div>
      <div class="modal-body">
        <%= render "delete" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="hideDeleteModal()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- View Modal -->
<div class="modal fade" id="viewGroupModal" tabindex="-1" role="dialog" aria-labelledby="viewGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">View Group Details</h4>
      </div>
      <div class="modal-body">
        <%= render "view" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="showEditModal()" href="#editGroupModal" data-refresh="true" data-toggle='modal'>Edit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Modal -->
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="editGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Group Details</h4>
      </div>
      <div class="modal-body">
        <%= render "edit" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="showGroupModalNoID()" data-refresh="true" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="showGroupModalNoID()" data-refresh="true" >Save Changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1 style='margin-left: 15%; margin-right: auto;'>Groups</h1>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
      <th>Group Type</th>
    </tr>
  </thead>
  <% for group in @groups['groups'] %>
  <tr>
    <td><%= group['groupID'] %></td>
    <td><a onClick="showViewGroupModal(<%= group['groupID'] %>)" href = '#viewGroupModal' data-refresh = 'true' data-toggle='modal'><%= group['groupTitle'] %></a></td>
    <td><%= group['groupType'] %></td>
    <td colspan='1' style='cursor: pointer; text-align: center' onclick="showDeleteModal(<%= group['groupID'] %>)"  data-refresh="true" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-trash'></span></td>
  </tr>
  <% end %>

  <tr>
    <td colspan='4' style='cursor: pointer; text-align: center' href='#newGroupModal' data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
  </tr>
</table>