<!-- PLACE JAVASCRIPT IN app/javascripts/projects.js -->

<script>
<%= render "projectsJS.js.erb" %>
</script>

<h1 style='margin-left: 15%; margin-right: auto;'>Projects</h1>


<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
  <tr>
    <td colspan='4' style='cursor: pointer; text-align: center' onclick="showNewProjectModal('<%=@allUsers%>', '<%= @userMeetings %>')" data-toggle='modal'><span style='font-size: 1.3em; color: white;' class='glyphicon glyphicon-plus'></span><span style='font-size: 1.1em; color: white;'>  Create New</span></td>
  </tr>
    <tr >
      <th>Name</th>
      <th></th>
	  <th></th>
    </tr>
  </thead>

  <% if !(@projects.any?) %>
  <tr><td colspan="3" style="text-align: center;">YOU ARE NOT A MEMBER OF ANY PROJECTS</td></tr>
  <% else %>
    <% for project in @projects %>
      <tr>
        <td style='cursor: pointer' onclick="showViewProjectModal(<%= project['projectID'] %>,'<%= @allUsers %>', '<%= @userMeetings %>')">
          <%= project['projectTitle'] %>
        </td>
        <td style="width: 7%">
          <span style='font-size: 1.3em; color: white; cursor: pointer;' onclick='showDeleteProjectModal(<%= project["projectID"] %>)' class='glyphicon glyphicon-trash'></span>
        </td>
        <td style="width: 7%">
          <span style='font-size: 1.3em; color: white; cursor: pointer;' onclick="showEditProjectModal(<%= project["projectID"] %>, '<%= @allUsers %>','<%= @userMeetings %>')" class='glyphicon glyphicon-pencil' ></span>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
